<ion-view view-title="Asociar Cuentas" ng-controller="AsociarCtrl">
  <ion-content class = "padding has-subheader">
    <button class="button button-block button-positive" type="button" ng-click="lector()">Escanear QR</button>
  </ion-content>
</ion-view>
