<ion-view view-title="Pagar" ng-controller="PagarCtrl">
  <header class="bar bar-header bar-dark">
      <h1 class="title">Pago Net</h1>
    </header>
  <ion-content class="padding has-subheader">
    <div style="text-align: center">
        <img src="img/logo.png">
    </div>
    <h1 style="text-align: center" class="positive">PAGO NET</h1>
    <br/>
    <h3 style="text-align: center">{{email_corr}}</h3>
    <br/>
    <br/>
    <p style="text-align: center">Busque un correo electrónico de Pago Net y haga click en el enlace de verificacion para, finalizar la configuración </p>
    <button class="button button-block button-calm" type="submit" ng-click="verificar()" style="font-size: 15px;">VERIFIQUE SU CORREO ELECTRONICO</button>
    <div style="text-align:center;">
      <a ng-click="next()" style="color: #a0a0a0;cursor: pointer; text-decoration: none">Lo hare en otro momento</a>
    </div>
  </ion-content>
</ion-view>

