<ion-view>
  <ion-header-bar align-title = "center" class = "bar-positive">
    <h1 class = "title">{{ title }}</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doCrear()">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="createData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="createData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Repetir Password</span>
          <input type="password" ng-model="createData.rep_password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Crear</button>
        </label>
    </form>
  </ion-content>
</ion-view>
