<!--<ion-view title="Cuentas" left-buttons="leftButtons" right-buttons="rightButtons">-->
<!--<ion-nav-bar class="bar-positive">-->
<!---->
<!--<ion-header-bar align-title="right" class="bar-positive bar bar-subheader bar-assertive">-->
<!--<h1 class="title">Bs. {{ saldo | format:2:3:'.':',' }}</h1>-->
<!--</ion-header-bar>-->
<!--</ion-nav-bar>-->
<!--<ion-content class = "padding has-subheader">-->

<!--<div class="col-lg-12">-->

<!--<form class="form-inline">-->
<!--<div class="form-group">-->
<!--<label>Buscar</label>-->
<!--<input type="text" ng-model="search" class="form-control" placeholder="Buscar">-->
<!--</div>-->
<!--</form>-->
<!--<table class="table table-striped table-bordered table-hover " boder="1">-->
<!--<thead>-->
<!--<tr>-->
<!--<th ng-click="sort('nom_banco')">Banco-->
<!--<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
<!--</th>-->
<!--<th ng-click="sort('tipo_cuenta')">Tipo Cuenta</th>-->
<!--<th>Saldo</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="cuenta in cuentas|orderBy:sortKey:reverse|filter:search">-->
<!--<td>{{cuenta.nom_banco}}</td>-->
<!--<td>{{cuenta.tipo_cuenta}}</td>-->
<!--<td>{{cuenta.saldo | format:2:3:'.':',' }}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</ion-content>-->
<!--<div class = "bar bar-footer bar-positive">-->
<!--<button class = "button icon ion-navicon" menu-toggle="left"></button>-->
<!--<button class = "button icon ion-home" menu-toggle="left"></button>-->
<!--<button class = "button icon ion-star" menu-toggle="left"></button>-->
<!--<button class = "button icon ion-checkmark-round" menu-toggle="left"></button>-->
<!--</div>-->
<!--</ion-view>-->


<ion-view class="bar-positive" view-title="Cuentas" left-buttons="leftButtons" right-buttons="rightButtons">
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only>
          <ion-icon name="chatboxes"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Title</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="notifications"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
  <ion-content>
    <table class="table table-striped table-bordered table-hover " boder="1">
      <thead>
        <tr>
          <th ng-click="sort('nom_banco')">Banco
            <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('tipo_cuenta')">Tipo Cuenta</th>
          <th>Saldo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="cuenta in cuentas|orderBy:sortKey:reverse|filter:search">
          <td>{{cuenta.nom_banco}}</td>
          <td>{{cuenta.tipo_cuenta}}</td>
          <td>{{cuenta.saldo | format:2:3:'.':',' }}</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
  </ion-content>
  <div class="bar bar-footer bar-positive">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
    <button class="button icon ion-home" menu-toggle="left"></button>
    <button class="button icon ion-star" menu-toggle="left"></button>
    <button class="button icon ion-checkmark-round" menu-toggle="left"></button>
  </div>
</ion-view>
</ion-view>
