<ion-view view-title="Generar" ng-controller="GenerarCtrl">
  <ion-content class = "padding has-subheader">
    <button class="button button-block button-positive" type="button" ng-click="generar()">Escanear QR</button>
  </ion-content>
</ion-view>
