<ion-view view-title="Pago Net" ng-controller="PagarCtrl">
  <ion-content class="padding has-subheader">
    <div style="text-align: center">
        <img src="img/logo.png">
    </div>
    <h1 style="text-align: center" class="positive">PAGO NET</h1>
    <br/>
    <h3 style="text-align: center">{{email_corr}}</h3>
    <br/>
    <br/>
    <p style="text-align: center">Busque un correo electrónico de Pago Net y haga click en el enlace de verificacion para, finalizar la configuración </p>
    <button class="button button-block button-calm" type="submit" ng-click="verificar()" style="font-size: 15px;">VERIFIQUE SU CORREO ELECTRONICO</button>

  </ion-content>
</ion-view>
