<ion-view>
  <ion-header-bar align-title = "center" class = "bar-positive">
    <h1 class = "title">Pago Net</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.login">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
    </form>
  </ion-content>
</ion-view>
