<ion-view view-title="Pagar" ng-controller="PagarCtrl">
  <ion-nav-title>
    <div class="page-title">Pago</div>
  </ion-nav-title>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-gear-a">
      </button>
    </ion-nav-buttons>
    <ion-header-bar align-title="right" class="bar-positive bar bar-subheader bar-assertive">
      <h1 class="title">Bs. {{ saldo | format:2:3:'.':',' || "0.00" }}</h1>
    </ion-header-bar>
  </ion-nav-bar>

  <ion-content class = "padding has-subheader">
    <form ng-submit="doPagar(pagarData)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Monto</span>
          <input type="text" ng-model="pagarData.monto">
        </label>
        <label class="item item-input">
          <span class="input-label" >Email/Usuario</span>
          <input type="text" ng-model="pagarData.user">
        </label>
        <label class="item item-input">
          <span class="input-label" >Descripcion</span>
          <textarea name="" id="" ng-model="pagarData.descripcion"></textarea>
        </label>
      </div>
        <button class="button button-block button-positive" type="submit" ng-click="pagar()">Pagar</button>
    </form>

    <button class="button button-block button-positive" type="button" ng-click="lector()">Escanear QR</button>
  </ion-content>
</ion-view>
