<ion-view view-title="PruebaList" ng-controller="PruebalistCtrl">
  <ion-content>
    <h1>PruebaList</h1>
    <p>{{cedula}}</p>
    <p>GGGG{{primer_nombre}}</p>
    <p>HHHH{{segundo_nombre}}</p>
  </ion-content>
</ion-view>
