<ion-view view-title="Pagar" ng-controller="PagarCtrl">
  <header class="bar bar-header bar-dark">
      <h1 class="title">Pago Net</h1>
    </header>
  <ion-content class="padding has-subheader">
    <div style="text-align: center">
        <img src="img/logo.png">
    </div>
    <h1 style="text-align: center" class="positive">PAGO NET</h1>
    <br/>
    <br/>
    <button class="button button-block button-calm" type="submit" ng-click="escanear()" style="font-size: 15px;">ESCANEAR EL CODIGO DE SINCRONIZACIÓN</button>
    <button class="button button-block button-positive" type="submit" ng-click="login()" style="font-size: 15px;">User/Password</button>
  </ion-content>
</ion-view>
