
<ion-view view-title="Transaccionessss" left-buttons="leftButtons" right-buttons="rightButtons" >
  <ion-content>
    <button class="button" ng-click="showActionsheet()">
        Show Actionsheet
      </button>
  </ion-content>
</ion-view>

